// Escience Theme Variables

// -------------------------
// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

@brand-primary:         #1E138A;
@brand-warning:			#C6AF00;
@brand-danger:			#C60000;
@brand-info:			#7BB900;
@brand-success:			#007777;
@brand-primary-dark: darken( @brand-primary , 25% );
@brand-primary-darker: darken( @brand-primary , 50% );
@brand-primary-darkest: darken( @brand-primary , 55% );
@brand-primary-light: lighten( @brand-primary , 25% );
@brand-primary-lighter: lighten( @brand-primary , 50% );
@brand-primary-lightest: lighten( @brand-primary ,60% );

// Font paths
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";

